/* Boothstrap Overright  */
a#basic-nav-dropdown {
    color: #fff !important;
    padding: 10px 60px !important;
    background-color: #27AE60;
    padding: 2px 20px;
    border-radius: 25px;
}
.nav-item.dropdown {
    margin-right: 30px;
}
.dropdown-menu.show {
    margin-top: 5px;
    margin-left: 26px;
    transition: all 0.5s
}
.navbar-toggler:focus {
    box-shadow: none;
}
a.nav-link {
    margin: 0px 25px;
    color: #000000 !important;
}
.carousel-caption {
    top: 40%;
}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333333;
    background-color: #fff;
    border-color: transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.nav-link {
    color: #828282;
}
.nav-link:focus, .nav-link:hover {
    color: #828282;
}
/* React Slick Slider */
svg.slick-arrow.slick-disabled {
    background-color: #F2F2F2;
    color: #999999
}

svg.slick-arrow{
    background-color:  #27AE60;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s;
    font-size: 15px
}
svg.slick-arrow:hover{
    background-color: #F2F2F2;
    color: #999999
}
svg.slick-arrow.slick-prev {
    left: 92%;
    top: -30%;
}
svg.slick-arrow.slick-next {
    top: -30%;
    left: 96%;
}

.productSlide svg.slick-arrow.slick-prev {
    left: 92%;
    top: -13%;
}

.productSlide svg.slick-arrow.slick-next {
    top: -13%;
    left: 96%;
}
.brandSlide svg.slick-arrow.slick-prev {
    left: 92%;
    top: -45%;
}
.brandSlide svg.slick-arrow.slick-next {
    top: -45%;
    left: 96%;
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    transition: 0.5ms;
    padding-top: 0px;
    padding-bottom: 0px;
}

.menuArea{
    transition: all 0.5ms;
}

@media only screen and (max-width: 420px) {
    svg.slick-arrow.slick-prev {
        left: 80%;
        top: -30%;
    }
    svg.slick-arrow.slick-next {
        top: -30%;
        left: 92%;
    }
    .productSlide svg.slick-arrow.slick-prev {
        left: 80%;
        top: -10%;
    }
    
    .productSlide svg.slick-arrow.slick-next {
        top: -10%;
        left: 92%;
    }
    .brandSlide svg.slick-arrow.slick-prev {
        left: 80%;
    }
    .brandSlide svg.slick-arrow.slick-next {
        left: 92%;
    }
    .carousel-caption {
        top: 10% !important;
    }
}