.productsAreaSection{
    padding: 50px 0px;
}
.sectionTitleArea{
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
  }
  
  .sectionTitleArea::after{
    content: "";
    width: 80px;
    height: 3px;
    background-color: #27AE60;
    position: absolute;
    margin-top: -1px;
    border-radius: 25px;
  }
.productItem{
    margin-right: 20px;
    text-align: center;
}
.productItem::last-child{
    margin-right: 0px;
}
.singleItem{
    position: relative;
}
.productHoverItem{
    position: absolute;
    background-color: #00000070;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s
}
.productIcon{
    margin: 0px 10px;
    font-size: 25px;
    cursor: pointer;
}
.productItem:hover .productHoverItem{
    transform: scale(1);
    opacity: 1
}
.singleItem img{
    transform: scale(1);
    transition: all 0.5s;

}
.productItem:hover .singleItem img{
    transform: scale(1.5);
}
.productItem:hover .addToCartBtn{
    background-color: #27AE60;
    border: 1px solid #27AE60;
    color: #fff
}
.productText{
    padding: 10px 0px;
}
.productText h6{
    font-size: 20px;
    font-weight: 500;
    color: #333333
}
.productText p{
    font-weight: 500;
    color: #333333
}
.addToCartBtn{
    background-color: #fff;
    color: #27AE60;
    border: 1px solid #E5E5E5;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.5s
}

.addToCartBtn:hover{
    background-color: #27AE60;
    border: 1px solid #27AE60;
}

.addToCartBtn:focus{
    box-shadow: none;
    background-color: #27AE60;
    border: 1px solid #27AE60;
}